*.fasta filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.phy filter=lfs diff=lfs merge=lfs -text
*.iqtree filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.nex filter=lfs diff=lfs merge=lfs -text
*.mldist filter=lfs diff=lfs merge=lfs -text
*.rate filter=lfs diff=lfs merge=lfs -text
*.ufboot filter=lfs diff=lfs merge=lfs -text
*.roote filter=lfs diff=lfs merge=lfs -text
*.rooted filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bz filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tar.bz filter=lfs diff=lfs merge=lfs -text
